// $primary-color: rgba(239, 62, 35, 1);
$primary-color: crimson;

$secondary-color: rgba(236, 125, 35, 1);
$text-color: #333;
$base-color: #1b1523;
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
