@use '../abstracts' as a;

main {
  max-width: 1200px;
  margin: 60px auto;

  h2 {
    color: a.$text-color;
    margin-bottom: 20px;
  }
}

.App {
  &.light {
    background-color: lighten(a.$black, 15%);
    color: a.$white;
  }

  &.dark {
    background-color: darken(a.$white, 15%);
    color: a.$text-color;
  }
}
